body{
    margin-top: 100px;
    text-align: center;
    background-color: rgb(19, 19, 109);
}
button{
    border: 5px thistle ;
    border-radius: 25px;
    background-color: thistle;
}
input{
    border: white 2px;
    height: 20px;
}
span{
    color: white;
    
    font-family: fantasy;
}
